#enter-game 
  input#message-input(type='text')
  input#join(type='submit',value='Enter Message')
#messages
ul#previousMessages
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
script(type='text/javascript', src='/nowjs/now.js')
script(type='text/javascript', src='javascripts/client.js')



