script(type='text/javascript')
  now.ready(function(){
    now.name = $("#name-input").val();
    now.roomId = "someRoomId";
    $("#join").click(function(){
      now.name = $("#name-input").val();
      now.sendBroadcast(now.name);
      $("#enter-game").remove();      
    });

    now.receiveBroadcast = function(message){
      $("#messages").append("<br>" + message + " has entered");
    }
  });
 
#enter-game 
  input#name-input(type='text')
  input#join(type='submit',value='Enter Game')

#messages


