script(type='text/javascript')
  now.ready(function(){
    now.name = $("#name-input").val();
    $("#send-button").click(function(){
      now.name = $("#name-input").val();
      now.distributeMessage(now.name);
      $("#enter-game").remove();
    });
    now.receiveMessage = function(name, message){
      $("#messages").append("<br>" + name + " has entered");
    }
  });
 
#enter-game 
  input#name-input(type='text')
  input#send-button(type='submit',value='Enter Game')

#messages


