script(type='text/javascript')
  now.ready(function(){
    now.name = $("#name-input").val();
    now.roomId = "someRoomId";
    $("#join").click(function(){
      now.name = $("#name-input").val();
      now.distributeMessage(now.name);
      $("#enter-game").remove();
      
      console.log("in client code, the group is " + now.roomId);
    });

    now.receiveMessage = function(name, message){
      $("#messages").append("<br>" + name + " has entered");
    }
  });
 
#enter-game 
  input#name-input(type='text')
  input#join(type='submit',value='Enter Game')

#messages


