!!! 5
html(lang="en")
  head
    title
    link(href='stylesheets/application.css',media='screen',rel='stylesheet',type='text/css')
    link(href='stylesheets/jquery-ui-1.8.13.custom.css',media='screen',rel='stylesheet',type='text/css')
  body
    h1 MatchGame
    != body