!!! 5
html(lang="en")
  head
    title
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script(type='text/javascript', src='/nowjs/now.js')
  body
    h1 NodeJS Game
    != body