/** {
  margin:0;
  padding:0;
}*/

body {
/*  background:#0089d3;
*/  
  background:#22252A;
  color:white;
  font-family:'Trebuchet MS', Arial, sans-serif;
  font-size:1.2em;
}

#name-form {
  display:none;
}

#player-name {
  width:410px;
}

.ui-icon-closethick {
  display:none !important;
}

@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/orbitron/orbitron-bold.eot");
  src: url(//:) format("no404"), url("../fonts/orbitron/orbitron-bold.woff") format("woff"), url("../fonts/orbitron/orbitron-bold.ttf") format("truetype"); }

h1 {
  font: bold 2.4em Orbitron, Arial, sans-serif;
  color:#0089d3;
}

footer {
  position:fixed;
  width:100%;
  bottom:0;
}

footer #toolbar {
  background:#0089d3;
  height:30px;
}

footer #message-input {
  padding:1em;
  background: #22252A;
  color: #EEE;
  width:100%;
  font: normal 1.2em 'Trebuchet MS', sans-serif;
  border:none;
}